
/* form */

.form {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    width: 350rem;
}

.field {
    display: flex;
    flex-flow: column-reverse;
    gap: 6rem;
}

/**
* Add a transition to the label and input.
*/
label,
.input {
    font-size: 14rem;
    transition: all 0.2s;
    touch-action: manipulation;
}

.input {
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: text;
    padding: 8rem;
    background-color: rgb(244, 244, 244);
}


textarea.input {
    height: 100rem;
    resize: none;
}

.input:focus {
    outline: 0;
    border-bottom: 1px solid blue;
}


/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
.input:placeholder-shown+label {
    cursor: text;
    text-align: left;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(8rem, 30rem) scale(1);
    color: rgb(86, 86, 86);
}

/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

/**
* Show the placeholder when the input is focused.
*/
.input:focus::-webkit-input-placeholder {
    opacity: 1;
}


/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
.input:not(:placeholder-shown)+label,
.input:focus+label {
    transform-origin: left bottom;
    transform: translate(0) scale(0.8);
    color: blue;
    cursor: pointer;
}

.input:not(:focus)+label {
    color: gray;
}

.jc-center {
    justify-content: center;
}

.btn {
    border: 0;
    padding: 8rem;
    background: blue;
    font-family: inherit;
    color: white;
    transition: background-color 0.2s;
}

.btn:hover{
    background:rgb(255, 1, 192);
}

.btn:active{
    background:rgb(255, 1, 192);
}

.btn:focus{
    outline: none;
    box-shadow: 0 0 5px rgb(91, 91, 91);
    /* background:rgb(255, 1, 192); */
}
