.fullscreen {
    min-height: max(500rem, 100vh);
    padding: 60rem;
    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
    color: var(--color-gray);
    background-color: var(--color-white);
}


@media screen and (max-width: 800px) {
    .fullscreen {
        padding: 30rem;
    }
}


@media screen and (max-width: 600px) {
    .fullscreen {
        padding: 15rem;
    }
}