* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 6.25%;
    --color-gray: rgb(42, 42, 42);
    --color-blue: blue;
    --color-pink:  rgb(255, 1, 192);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16rem;
    color: var(--color-gray);
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: inherit
}

a:visited {
    color: inherit
}

h1, h2, h3 {
    text-transform: uppercase;
}